.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}
#timer {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  x: 2%;
  y: 10%;
  fill: #45D40C;
}
